@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;800&family=Montserrat:wght@200;400;500&family=Open+Sans:wght@300;400&family=Prompt:wght@500&display=swap');

/* font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Prompt', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav-bar inicia */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 2rem;
    background-color: transparent;
    height: 90px;
}

.logo {
    width: 6rem;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-list li button {
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.nav-list li button:hover {
    transition: all .3s;
    color: rgb(110, 108, 108);
}

.carrito {
    font-size: 1.3rem;
    color: #f1f1ff;
    cursor: pointer;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/* nav-bar termina */

.contenedor-global {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url(../img/fondo2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 58rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    height: 100%;
}

.hero img {
    width: 30rem;
}

.hero h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Prompt', sans-serif;
}

.hero p {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Prompt', sans-serif;
    border-bottom: 1px solid #f1f1ff;
    width: 25%;
}

.titulo-seccion{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 1.2rem;
    border-bottom: 2px solid black;
    text-transform:capitalize;
}

/* cards */
.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 40px 0;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 450px;
    background-color: white;
}

.card-img img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.card-text {
    background-color: #fafafa;
    width: 100%;
    height: 50%;
    padding: 1rem;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

.card-text button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 300;
}

.card-text button:hover{
    color: #30302b;
}

.card-text button i {
    margin-right: 10px;
}













/* Nav responsive */
@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .cerrar-menu {
        color: white;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        background-color: #1c1c11;
        width: 200px;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.24);
    }

    .visible {
        opacity: 1;
        visibility: visible;
        transition: all .4s;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: white;
    }
}